
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Glamping</mat-card-title>
    <mat-card-subtitle>Campamento UNIR</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://miro.medium.com/max/1400/1*_bfBYAoHLR3WsLWhLenw0A.jpeg" alt="UNIR Glamping">
  <mat-card-content>
    <p style="text-align: justify">
      Glamping o glamorous camping es un creciente fenómeno global que combina la experiencia de acampar al aire
      libre con el lujo y las condiciones propias de los mejores hoteles. El término, acuñado a finales del siglo XIX,
      es una fusión de las palabras glamour y camping.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
